.game-data-modal {
  width: 80vw;
  height: 60vw;
  background-color: blue;
  height: 300px;
  width: 600px;
  position: fixed;
  z-index: 1;
  background-color: whitesmoke;
  border: 5px solid black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);
  overflow: hidden;
  border-radius: 10px;
  margin-top: 10%;

  .game-data-title {
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
  }
}