.hobbies-page {
  width: 100%;
  height: 80vh;

  .hobbies-container {
    margin: 0 15px;
    display: flex;
    justify-content: space-evenly;

    .hobby {
      text-align: center;
      background-color: whitesmoke;
      box-shadow: 0 0 20px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);
      width: 40vw;
      border-radius: 10px;
      overflow: hidden;
      padding-bottom: 15px;

      .hobby-title {
        background-color: forestgreen;
        color: whitesmoke;
        padding: 3px 0;
        letter-spacing: 0.8px;
      }

      .hobby-text {
        margin: 15px;
      }
    }
  }
}