.custom-route-button {
  background-color: forestgreen;
  border-radius: 10px;
  padding: 5px 10px;
  height: 100%;
  transition: 0.5s;
  display: flex;
  justify-content: center;

  .route-button-link {
    display: flex;
    align-items: center;
    justify-content: center;
    
    .route-button-title {
      color: whitesmoke;
    }
  }
  
  .route-button-icon-container {
    display: flex;

    .route-button-icon {
      margin: auto 10px;
      display: none;
    }
  }
}

.custom-route-button::after {
  color: whitesmoke;
  opacity: 0;
  transition: 1s;
}

.custom-route-button:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);

  .route-button-icon {
    color: whitesmoke;
    display: inline;
  }
}

.custom-route-button:hover::after {
  opacity: 1;
}