.soccer-key-modal {
  height: 300px;
  width: 600px;
  position: fixed;
  z-index: 1;
  background-color: whitesmoke;
  border: 5px solid black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);
  overflow: hidden;
  border-radius: 10px;
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3px;

  .key-modal-title {
    text-align: center;
    padding: 3px 0;

    .modal-title-text {
      border-bottom: 1px solid black;
    }
  }

  .headers-key-list {
    column-count: 3;
    text-align: center;

    .headers-key-text {
      padding: 3px;
    }
  }

  .color-key {
    text-align: center;
    padding: 3px 30px;

    .key-description {
      color: whitesmoke;
      text-shadow: #000 0px 0px 2px;
      -webkit-font-smoothing: antialiased;
      font-size: large;
      margin-right: 3px;
      padding: 1px 5px;
      border-radius: 10px;
    }

    .green-key-description {
      background-color: forestgreen;
      
    }

    .red-key-description {
      background-color: red;

    }
  }
}

@media screen and (min-width: 950px) {
  .soccer-key-modal {
    margin-top: 35%;
  }
}

@media screen and (min-width: 1500px) {
  .soccer-key-modal {
    margin-top: 23%;
  }
}