.header {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: forestgreen;

  .options {
    margin-right: 3vw;
    display: flex;
    align-items: center;

    .option {
      margin: auto 1vw;
      text-decoration: none;
      cursor: pointer;
      color: whitesmoke;
    }

    .dropdown {
      color: whitesmoke;
      margin-left: 1vw;
    }
  }
}