.header {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: forestgreen;
  margin-bottom: 30px;
  position: sticky;
  top: 0;
  box-shadow: 0 3px 9px black;

  .options {
    margin-right: 3vw;
    display: flex;
    align-items: center;

    .option {
      margin: auto 1vw;
      color: whitesmoke;
    }

    .option-icon {
      display: flex;
      align-items: center;
    }
  }
}