.projects-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15px;

  .project {
    width: 32vw;
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .project-title {
      padding: 5px 0;
      color: whitesmoke;
      background-color: forestgreen;
      text-align: center;
      width: 100%;
    }
    
    .gif {
      width: 100%;
      height: 70%;
      padding-bottom: 50px;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .website-link {
      height: 30px;
      font-size: 16px;
      text-align: center;
      opacity: 0.85;
      padding: 10px;
      background-color: forestgreen;
      color: whitesmoke;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      display: none;
    }

    &:hover {
      .website-link {
        display: flex;
      }
    }

    .project-info {
      background-color: forestgreen;
      color: whitesmoke;
      padding: 10px;
      text-align: center;
      border-top: 1px solid black;

      .project-text {
        margin-bottom: 15px;
      }

      .project-link {
        cursor: pointer;
        color: whitesmoke;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .projects-container {
    height: 60vh;
  }
}