.soccer-headers-row {
  position: sticky;
  top: 0;
  background-color: black;

  .soccer-header {
    color: whitesmoke;
    padding: 3px;
  border-radius: 10px;
  }

  .gd {
    border-right: none;
  }
}