.soccer-headers-row {
  border-bottom: 1px solid black;
  position: sticky;
  top: 0;
  background-color: forestgreen;

  .soccer-header {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    color: whitesmoke;
    padding: 3px 0;
  }

  .gd {
    border-right: none;
  }
}