.skills-page {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
}

@media screen and (max-width: 950px) {
  .skills-page {
    width: 80%;
  }
}